.ParentBox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Image {
  float: left;
  width: 50%;
  height: 400px;
  background: #e8e8e8;
}

.Image img {
  width: 100%;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;  
  margin-left: 30px;
}

.Deskripsi .Cate {
  color: #aeb1b8;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Info {
  line-height: 1.8;
  color: dimgray;
}

